/*
 *  ::718604!
 * 
 * Copyright(C) November 20, 2014 U.S. Food and Drug Administration
 * Authors: Dr. Vahan Simonyan (1), Dr. Raja Mazumder (2), et al
 * Affiliation: Food and Drug Administration (1), George Washington University (2)
 * 
 * All rights Reserved.
 * 
 * The MIT License (MIT)
 * 
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 */

/*
Colors
light blue -- #f0f5f9
light grey -- #f5f5f5
grey blue --- #94abbd
blue -------- #0275d8
blue -------- #1e88e5
dark blue --- #00559f
*/

.layout-infobox-tabs .panel-body {
    overflow: auto;
}

.layout-infobox-tabs .panel-heading .nav-tabs li {
    margin-bottom: -2px;
}
.nav-tabs>li>a{
    color: #555555;
    border: none;
}
.nav-tabs>li.active>a{
    background-color:#f0f5f9;
    color: #000000;
    border: none;
}

.nav-tabs>li>a:hover,.nav-tabs>li.active>a:hover{
    background-color:#1e88e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.nav-tabs>li>a:active,.nav-tabs>li.active>a:active{
    background-color:#0275d8;
}

.layout-infobox-tabs .panel-body .view-area {
    position: relative;
}

.layout-infobox-tabs ul li a {
  padding: 0.2em 1em 0.2em 1em;
}
.layout-infobox-tabs ul li:first-child a {
  padding-left: 1.5em;
}
.layout-infobox-tabs ul li a.icon {
    padding: 0.2em 0.5em 0.2em 2em !important;
}

.layout-infobox-tabs ul li ul.tab-control-menu {
    position: absolute;
    border: 1px solid #ddd;
    background-color: #fff;
    top: 0;
    z-index: 100;
    padding: .2em;
}


.layout-infobox-tabs ul li span.activity-icon.clone-tab  {
    background-position: center center;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: .5em;
    cursor: pointer;
    display: inline-block;
}

.layout-infobox-tabs ul li span.clone-tab {
    background-image: url("images/clone-16.png");
}

.layout-infobox-tabs ul li:hover span.activity-icon {
    display: inline-block;
}

.layout-infobox-tabs ul li:hover span.activity-icon:hover {
    display: inline-block;
}

.layout-infobox-tabs ul li i {
    font-size: 13px;
    display: none;
    color: #00559f;
    margin-left: 8px;
}

.layout-infobox-tabs ul li:hover a {
   padding-right: 0.5em;
}
.layout-infobox-tabs ul li:hover i {
    display: inline-block;
}

.layout-infobox-tabs ul li:hover i:hover {
    color: #ffffff;
    display: inline-block;
}

