/*
 *  ::718604!
 * 
 * Copyright(C) November 20, 2014 U.S. Food and Drug Administration
 * Authors: Dr. Vahan Simonyan (1), Dr. Raja Mazumder (2), et al
 * Affiliation: Food and Drug Administration (1), George Washington University (2)
 * 
 * All rights Reserved.
 * 
 * The MIT License (MIT)
 * 
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 */

.myButton {
    background:rgba(2, 117, 216, 0.88);;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20x;
    border:2px solid #0275d8;
    cursor:pointer;
/*    color:#0275d8;*/
    color:#fff;
    font-size:15px;
    font-weight: 400;
    padding:4px 24px;
    text-decoration:none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 2px 6px rgba(67, 83, 103, 0.58);
}

.myButton:hover {
    background: #1976d2;
    color:#fff;
    box-shadow: 0px 2px 6px rgba(67, 83, 103, 0.58);
}

.myButton:active,.myButton:focus {
    outline: none;
    box-shadow: 0px 1px 2px rgba(67, 83, 103, 0.85);
/*    position:relative;*/
/*    top:1px;*/
}
