/*
 *  ::718604!
 * 
 * Copyright(C) November 20, 2014 U.S. Food and Drug Administration
 * Authors: Dr. Vahan Simonyan (1), Dr. Raja Mazumder (2), et al
 * Affiliation: Food and Drug Administration (1), George Washington University (2)
 * 
 * All rights Reserved.
 * 
 * The MIT License (MIT)
 * 
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 */
a,
.clickablish,
.clickable,
div.linker,button.linker
{
    text-decoration:none;
    color:#0d47a1;
}

.clickable,
div.linker,button.linker
{
    cursor:pointer;
}

div.linker,button.linker
{
    /* Make it look like normal text */
    background:none;
    border:none;
    display:inline;
    margin:0;
    padding:0;
    outline:none;
    outline-offset:0;
    box-sizing:content-box;
    color:black;
}

th div.linker, th button.linker
{
    color:white;
}

img.linker-icon
{
    vertical-align: text-bottom;
}

a.underlined
{
    text-decoration:underline;
}

a:hover
{
    text-decoration:none;
}

h2
{
    margin:5px 0px 0px 0px;
    border-top:2px solid #1e88e5;
    border-bottom:2px solid #1e88e5;
}

body
{

    font-family:Verdana;
    margin:0px auto;
    width:100%;
}

.contClassJonny
{
    font-family: "Lucida Console", Monaco, monospace;
}

.negClassGradient
{
    background: linear-gradient(90deg, white, #18D9FC);
}

.posClassGradient
{
    background: linear-gradient(270deg, white, #FD6FA1);
}

.HIVE_bar,
.PUB h1
{
    background:url("../img/bg-hexagon.jpg") top left no-repeat;
    background-size:cover;
}

.sectHid
{
    /*position:relative;*/
    visibility:hidden;
    display:none;
}

.cellHid
{
    visibility:hidden;
    display:none;
}

.cellVis
{
    visibility:visible;
    display:table-cell;
    left: 0px;
    position: initial;
}

.progressVisibility
{
    visibility:visible;
    display:table-cell;
    left: 0px;
    position: initial;
}

.sectVis
{
    /*position:relative;*/
    visibility:visible;
    display:inline;
}

.code
{
    margin:0px;
    margin-top:10px;
    /*border:1px solid #c0c0ff;*/
    font-family:Courier;
    white-space: pre;
}

::-webkit-input-placeholder
{
    font-style:italic;
}
::-moz-placeholder
{
    font-style:italic;
}
::-ms-input-placeholder
{
    font-style:italic;
}

.HIVE_section_border_bottomless
{
    border-top:1px solid #b6b6b6;
    border-left:1px solid #b6b6b6;
    border-right:1px solid #b6b6b6;
}

.HIVE_section,
.HIVE_section_topless
{
    margin:0px;
    margin-top:2px;
    background-color:#ffffff;
    border:0px solid #b6b6b6;
}

.REM_HIVE_section,
.REM_HIVE_section_topless
{
    margin:0px;
    margin-top:3px;
    background-color:#ffffff;
    border:1px solid #b6b6b6;
}

.HIVE_section_topless
{
    margin-top:0;
    border-top:0;
}

.HIVE_section_title,
.PUB h1
{
    font-size:120%;
    font-weight:bold;
    font-family:Century Gothic;
}

.HIVE_sect1
{
    margin:0px;
    background-color:#ffffff;
    border:0px solid #b6b6b6;
}

.HIVE_sect1aa
{
    margin:0px;
    background-color:#ffffff;
    border:1px solid #b6b6b6;
}

.HIVE_oneliner
{
    display:table;
    vertical-align:top;
    border-spacing:0;
}

.HIVE_onelined
{
    display:table-cell;
    vertical-align:top;
    border-spacing:0;
}

.HIVE_onelined_vcenter
{
    display:table-cell;
    vertical-align:center;
    border-spacing:0;
}

.VISUAL_table
{
    border: 1px solid;
    border-collapse: collapse;
    border-color:#b6b6b6;
    margin: 0;
    font-weight:lighter;
    font-family:Century Gothic;

}

.Alert,
.VISUAL_popup
{
    border: 1px solid;
    border-collapse: collapse;
    border-color:#b6b6b6;
    margin: 0;
    font-weight:lighter;
    font-family:Century Gothic;
    background-color:#ffffff;
    z-index: 350; /* always in the front of everything else */

    -moz-box-shadow:2px 2px 15px black,-2px -2px 15px lightblue;    /*   For Older Versions    */
    -webkit-box-shadow:2px 2px 15px black,-2px -2px 15px lightblue;
    box-shadow:2px 2px 15px black,-2px -2px 15px lightblue;

        /*                   For  'IE'                                */

        filter: {
            progid:DXImageTransform.Microsoft.Shadow(color=lightblue,direction=0,strength=5)   /*  Top     */
            progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=90,strength=3)    /*  Right   */
            progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=180,strength=3)   /*  Bottom  */
            progid:DXImageTransform.Microsoft.Shadow(color=lightblue,direction=270,strength=5);/*  Left    */
    }
}


.VISUAL_table th
{
    border: 1px solid;
    border-color:#c0c0ff;
    background-color: transparent;
}




.HIVE_table
{
    margin: 0;
}

.HIVE_table_row0
{
      background-color: #fff;
}

.HIVE_table_row1
{
      background-color: #909090;
}

.HIVE_variable
{
    font-weight:normal;
    font-style:normal;
    font-family:Century Gothic;
    vertical-align: top;
    border:0px solid #b6b6b6;

}

.HIVE_value
{
    border:1px solid #b6b6b6;
    font-weight:bold;
    font-family:Verdana;
}

.HIVE_fact
{
    font-weight:lighter;
    font-family:Century Gothic;
    font-size: 120%;
    color:#0d47a1;
}


.HIVE_descr
{
    font-weight:lighter;
    font-family:Century Gothic;
    font-size: 80%;
    color:#727272;
}

.HIVE_seq
{
    font-weight:lighter;
    font-family:Courier;
    font-size: 70%;
    color:#727272;
}

.HIVE_info
{
    font-weight:lighter;
    font-family:Verdana;
    /*font-size: 100%;*/
    color:#000080;
}

.TREEVIEW_table
{
    border:1px solid;
    border-color:#ffffff;
    font-family:Century Gothic;
    font-size:95%;
}

.TREEVIEW_table_highlighted
{
    border:1px solid;
    font-size:95%;
    background-color: #ffd180;
    font-family:Century Gothic;
}

.TREEVIEW_table_selected1
{
    border:1px solid;
    font-size:95%;
    background-color: #90caf9;
    border-color: #949494;
    font-family:Century Gothic;
}

.permission
{
    border:1px solid;
    border-color:#ffffff;
    font-family:Century Gothic;
    font-size:95%;
    color: #0d47a1;
}

.permission_highlighted
{
    border:1px solid;
    border-color:#ffffff;
    font-family:Century Gothic;
    font-size:95%;
    background-color: #ffb122;
}

.permission_selected1
{
    border:1px solid;
    font-size:95%;
    background-color: #1e88e5;
    color: #ffd180;
    border-color: #b6b6b6;
}
.permission_selected1 div.linker
{
    color: #ffd180;
}

.permission_selected2
{
    border:1px solid;
    font-size:95%;
    background-color: #90caf9;
    color: #000;
    border-color: #b6b6b6;
}
.permission_selected2 div.linker
{
    color: #000;
}

.JSONVIEW
{
    border:1px solid;
    border-color:#ffffff;
    font-family:Century Gothic;
    font-size:95%;
    color: #0d47a1;
}

.JSONVIEW_selected
{
    border:1px solid;
    font-size:95%;
    background-color: #90caf9;

    color: #ffd180;
    border-color: #b6b6b6;
}

.JSONVIEW_highlighted
{
    border:1px solid;
    font-size:95%;
    background-color: #ffd180;

}


.TABLEVIEW_table_td
{
    white-space:nowrap;
    padding: 0px 10px 2px 10px;
}

.TABLEVIEW_table th
{
    border:1px solid;
    border-color:#b6b6b6;
    font-weight:normal;
    background-color: #0d47a1;
    text-align: center;
    color: #f4f4f4; 
    padding: 0px 0px 0px 0px;
}

.TREEVIEW_table_highlighted
{
    border:1px solid;
    font-size:95%;
    background-color: #ffd180;

}

/*


treeview2

*/

.directory
{
    font-family:Century Gothic;
    font-size:95%;
    color: #0d47a1;
    table-layout:fixed;
    white-space : nowrap;
    border:0;
    border-spacing:0;
    padding:0;
}

.directory .branchIcon
{
    border: 0;
    width: 32px;
    height: 32px;
    display: block;
}
/* see http://stackoverflow.com/questions/5517744/remove-extra-button-spacing-padding-in-firefox */
.directory button.branchIcon::-moz-focus-inner
{
    padding: 0;
    border: 0;
}
.directory tr [state='highlighted']
{
    background-color: #ffd180;
    box-shadow: 0 0 0 1px black inset;
}
.directory tr [state='selected']
{
    background-color: #ffd180;
    color: #90caf9;
}
.directory tr, .directory td, .directory th{
    border:0;
    border-spacing:0;
    padding-left:3px;
    padding-right:3px;
}
.directory a
{
    margin-left:1px;
}



.TABLEVIEW_table
{

    font-family:Century Gothic;
    font-size:90%;
    padding: 1px 5px 1px 5px;
    overflow:auto;
    width:100% ! important;
}


.TABLEVIEW_table_cell
{
    border: 1px solid;
    border-color: white;
    margin:5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}


.TABLEVIEW_table_highlighted
{
    border: 1px solid white;
    background-color: #ffd180;
    color: black;
    padding: 0px 0px 0px 0px;
}


.TABLEVIEW_table_selected1
{
    border: 1px solid;
    color: black;
    border-color: #b6b6b6;
    background-color: #90caf9;
    padding: 0px 0px 0px 0px;
}

.TABLEVIEW_table_selected2
{
    border: 1px solid;
    color: #ffd180;
    border-color: #b6b6b6;
    background-color: #90caf9;
    padding: 0px 0px 0px 0px;
}

.TABLEVIEW_table_selected3
{
    border: 0px solid;
    color: #000000;
    border-color: #b6b6b6;
    background-color: #90caf9;
    padding: 0px 0px 0px 0px;
}

.TABLEVIEW_table_selected4
{
    border: 0px solid;
    color: #000000;
    border-color: #b6b6b6;
    background-color: #FFD180;
    padding: 0px 0px 0px 0px;
}

.DV_tab
{
    border-collapse: collapse;
    border-top: 0px solid;
    border-bottom:1px solid;
    border-left:0px;
    border-right:0px;
    margin: 0;
    padding: 0;
    border-color:#b6b6b6;
    font-family:Century Gothic;
    font-size:80%;
    white-space:nowrap;
}

.DV_tab_selected
{
    border-collapse: collapse;
    border-top: 1px solid;
    border-bottom:0px solid;
    border-left:1px solid;
    border-right:1px solid;
    margin: 0;
    padding: 0;
    border-color:#b6b6b6;
    font-family:Century Gothic;
    font-size:80%;
    font-weight:bold;
    white-space:nowrap;
}

.DV_tab_label
{
    vertical-align: middle;
    border: 0;
    padding: 1px 3px 1px 1px;
    white-space: nowrap;
    font-family:Century Gothic;
    font-size:95%;
}

.DV_tab_icon,
.DV_tab_icon img
{
    vertical-align: middle;
    border: 0;
    padding: 1px;
    white-space: nowrap;
    font-family: Verdana;
    font-size: 16px;
}

.DV_content
{
    border-collapse: collapse;
    border-top: 0px solid;
    border-bottom: 1px solid;
    border-left:1px solid;
    border-right:1px solid;
    margin: 0px;
    padding: 10px;
    border-color:#b6b6b6;

}

.DV_table
{
    border: 1px solid;
    border-spacing:3px;
    border-color:#b6b6b6;
    margin: 0;
    padding: 0;
}

.DV_table td
{
    border: 0px dotted;
    border-collapse: collapse;
    border-spacing:0;
    border-color:#b6b6b6;
    margin: 0;
    padding: 0;
    /*font-size:80%;*/
}







.RDV_tab
{
    border-collapse: collapse;
    border-top: 1px solid;
    border-bottom:0px;
    border-left:0px;
    border-right:0px;
    margin: 0;
    padding: 0;
    border-color:#b6b6b6;
    font-family:Century Gothic;
    font-size:80%;
    white-space:nowrap;
}

.RDV_tab_selected
{
    border-collapse: collapse;
    border-top: 0;
    border-bottom:1px solid;
    border-left:1px solid;
    border-right:1px solid;
    margin: 0;
    padding: 0;
    border-color:#b6b6b6;
    font-family:Century Gothic;
    font-size:80%;
    font-weight:bold;
    white-space:nowrap;
}

.RDV_content
{
    border-collapse: collapse;
    border-top: 1px solid;
    border-bottom: 0;
    border-left:1px solid;
    border-right:1px solid;
    margin: 0px;
    padding: 10px;
    border-color:#b6b6b6;

}

.RDV_table
{
    border: 1px solid;
    border-spacing:3px;
    border-color:#b6b6b6;
    margin: 0;
    padding: 0;
}

.RDV_table td
{
    border: 0px dotted;
    border-collapse: collapse;
    border-spacing:0;
    border-color:#b6b6b6;
    margin: 0;
    padding: 0;
    /*font-size:80%;*/
}









.REC_table
{
   border:0px solid;
   font-size:100%;
}

.REC_popup
{
    border: 1px solid;
    border-collapse: collapse;
    border-color:#b6b6b6;
    margin: 0;
    font-weight:lighter;
    font-family:Century Gothic;

    -moz-box-shadow:2px 2px 15px black,-2px -2px 15px lightblue;    /*   For Older Versions    */
    -webkit-box-shadow:2px 2px 15px black,-2px -2px 15px lightblue;
    box-shadow:2px 2px 15px black,-2px -2px 15px lightblue;

        /*                   For  'IE'                                */
        filter: {
            progid:DXImageTransform.Microsoft.Shadow(color=lightblue,direction=0,strength=5)   /*  Top     */
            progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=90,strength=3)    /*  Right   */
            progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=180,strength=3)   /*  Bottom  */
            progid:DXImageTransform.Microsoft.Shadow(color=lightblue,direction=270,strength=5);/*  Left    */
    }
}

.REC_table td
{
    font-size:100%;
    font-family:Century Gothic;
    border: 0px solid;
    vertical-align:middle;
    text-align:left;
    color: black;
    border-color:#b6b6b6;
}

.REC_table th
{
    font-size:100%;
    font-family:Century Gothic;
    border: 1px solid;
    vertical-align:middle;
    text-align:left;
    color: #030e18;
    border-color: #b6b6b6;
    background-color: #ffd180;
}

.REC_array > tbody > tr:nth-child(even)
{
    background-color: #fff
}

.REC_array > tbody > tr:nth-child(odd)
{
    background-color: #f2f2f2
}

.REC_input
{
    border: 1px solid;
    border-spacing: 0px;
    border-color:#b6b6b6;
    padding: 0px 0px 0px 0px;
    color: #0d47a1;
    background-color: #CDE8FD;
}

.REC_inputReadOnly
{
    border: 1px solid;
    border-spacing: 0px;
    border-color:#b6b6b6;
    padding: 0px 0px 0px 0px;
    color: #727272;

}

.REC_inputSearch
{
    border: 0px solid;
    border-spacing: 0px;
    border-color:#b6b6b6;
    padding: 0px 0px 0px 0px;
    color: white;
}


.REC_interface
{
    border-color:#b6b6b6;
}

.REC_error
{
    border: 0px solid;
    border-spacing: 3px;
    border-color: #ff8a80;
    color: #ff5252;
    font-size:80%;
    margin-bottom: 3px;
    padding: 0;
    vertical-align:top;

}

.REC_description
{
    border: 0px solid;
    margin: 0;
    padding: 0;
    color:blue;
    font-size: 90%;
    font-family:Century Gothic;
    /*white-space:nowrap;*/

}




.MENU_table
{
    border: 1px double;
    border-spacing:2px;
    border-color:#b6b6b6;
    margin: 3px;
    padding: 2px 5px 2px 5px;
    text-align:left;
    color:#FFFFFF;
    font-family:Century Gothic;
    white-space:nowrap;
    background-color: #1e88e5;
    font-size: 90%;
}

.MENU_table_top a
{
     color:#FFFFFF;
}

.MENU_table a
{
     color:#FFFFFF;
}

.MENU_table_top
{
    border: 0px solid;
    border-collapse: collapse;
    border-color:#b6b6b6;
    color:#FFFFFF;
    font-family:Century Gothic;
    margin: 2px 5px 2px 5px;

}

.MENU_table_top_td
{
    border: 1px hidden;
    border-collapse: collapse;
    border-spacing:2px;
    border-color:#b6b6b6;

    padding: 2px 5px 2px 5px;
    text-align:left;
    color:#FFFFFF;
    cursor:pointer;
    font-family:Century Gothic;
    white-space:nowrap;
}


.MENU_table_td
{
    border: 1px hidden;
    border-collapse: collapse;
    border-spacing:2px;
    border-color:#b6b6b6;
    margin: 0px;
    padding: 2px 5px 2px 5px;
    text-align:left;
    color:#FFFFFF;
    cursor:pointer;
    font-family:Century Gothic;
    white-space:nowrap;
    background-color: #1e88e5;
}


.MENU_table_highlight
{
    border: 0px solid;
    border-collapse: collapse;
    border-spacing:2px;
    border-color:#b6b6b6;
    margin: 0px;
    text-align:left;
    color:#FFFFFF;
    cursor:pointer;
    font-family:Century Gothic;
    white-space:nowrap;
    background-color: #1e88e5;
}



.MENU_table_top_separator
{
    border-top: 2px solid;
    border-top-color: #b6b6b6;
}
.MENU_table_separator
{
    border-top: 2px solid;
    border-bottom-color: #b6b6b6;
}







.PANEL_table
{
    background-color: white;
    border: 1px solid;

    cursor:pointer;
}

.PANEL_table_td
{
    border: 1px solid transparent;
    font-family:Century Gothic;
    font-size:80%;
    color:black;
    padding: 0px 2px 0px 2px;
}


.PANEL_table_top
{
    background-color: transparent;
    cursor:pointer;
}

.PANEL_table_top_td
{
    border: 1px solid;
    font-family:Century Gothic;
    font-size:80%;
    color:gray;
    border-color:white;
    padding: 0px 2px 0px 2px;
}



.PANEL_table_highlight
{
    border: 1px solid transparent;
    font-family:Century Gothic;
    font-size:80%;
    color: #0d47a1;
    border-color: #b6b6b6;
    cursor:pointer;
    padding: 0px 2px 0px 2px;
}

.PANEL_table_select
{
    border: 1px solid transparent;
    font-family:Century Gothic;
    font-size:80%;
    background-color: #d7d8d9;
    color: #000 ! important;
    border-color: #6f6f6f;
    cursor:pointer;
    padding: 0px 2px 0px 2px;
}



.PANEL_table_top_separator
{
    border-top: 2px solid;
    border-left-color: #b6b6b6;
}

.PANEL_table_separator
{
    border-left: 2px solid;
    border-bottom-color: #b6b6b6;
}




.HELP_title
{
    border:none;
    font-size:105%;
    font-weight: bold;
    background-color: white;
    padding: 10px 10px 10px 10px;
    font-family:Century Gothic;
    top: 2px;
    position: relative;
}

.HELP_body
{
    font-size:100%;
    color: black;
    font-family:Century Gothic;
    padding: 10px;
}


.HELP_definition
{
    font-size:80%;
    color:black;
    font-family:Century Gothic;
}





.MAINPAGE_INTRO_title,
.PUB h2
{
    border:1px solid;
    border-color:#b6b6b6;
    font-size:105%;
    font-weight:bold;
    background-color: #ffd180;
    padding: 10px 10px 10px 10px;
}

.MAINPAGE_INTRO_body,
.PUB p, .PUB ul, .PUB ol, .PUB dl, .PUB table
{
    font-size:100%;
    /* color: #1976d3; */
    color: black;
}


.MAINPAGE_INTRO_definition
{
    font-size:80%;
    color: #0d47a1;
}

span.bluehive
{
    color: #0d47a1;
}

div.floater
{
    float:left;
}

div.rightimg
{
    float:right;
    margin-left:10px;
    text-align:center;
}

.endmatter
{
    font-size:80%;
}

.subsection
{
    margin-left:20px;
}

.subsection h2, .subsection h3
{
    margin-left:-20px;
}

aside,
div.aside
{
    float:left;
    color:black;
    width:340px;
    margin-right: 20px;
}

aside p, aside dl, aside ol, aside ul, aside table,
div.aside p, div.aside dl, div.aside ol, div.aside ul, div.aside table
{
    color:black;
    margin-right:20px;
}

aside h2,
div.aside h2,
.PUB aside h2
{
    color:black;
    background-color:#90caf9;
    margin-top: 0;
}

.after-aside
{
    margin-left:360px;
}

.nobr
{
    white-space:nowrap;
}

div.centerer
{
    text-align:center;
}

div.centered,
div.PUB
{
    display:inline-block; /* to center inside centerer */
    text-align:left;
}

div.vcentered,
img.vcentered
{
    display:inline-block;
    vertical-align:middle;
}

div.PUB
{
    max-width:1000px;
}

.PUB h1
{
    border:1px solid;
    border-color:#b6b6b6;
    background-color: #90caf9;
    height:56px;
}

.PUB h1 img
{
    height:48px;
    padding:4px;
    float:left;
}

.PUB h1 div.headertext
{
    height:56px;
    display:table-cell;
    vertical-align:middle;
}

.PUB h2, .PUB h3
{
    clear:right;
}

.PUB h3
{
    color:black;
    font-size:90%;
    font-weight:bold;
}

.PUB dfn
{
    color:black;
    font-style:normal;
    font-weight:bold;
}

.PUB hr
{
    color:#1e88e5;
    background-color:#1e88e5;
    height:1px;
    border:none;
}

.PUB div.authorbox
{
    border:1px solid;
    border-color:#b6b6b6;
    font-style:italic;
    background-color:#90caf9;
    padding: 10px 10px 10px 10px;
}

.PUB div.authorbox p,
.PUB div.authorbox ul
{
    margin-top:0;
    margin-bottom:0;
}

.PUB div.authorbox sup
{
    font-style:normal;
}

.PUB h1+div.authorbox
{
    margin-bottom:12px;
}

.PUB h1.authorboxed /* merged with authorbox */
{
    margin-bottom:0;
    border-bottom:0;
}

.PUB ul.affiliations
{
    font-size:72%;
    color:black;
    list-style-type:none;
}

.DnD {
    cursor: all-scroll;
    border-collapse:collapse;
/*     overflow:auto; */
    position: absolute;
    opacity: 0.6;
    z-index: 300;

    border: 0px solid;
/*     background-color:#cfcfff; */
    border-color:#b6b6b6;
    margin: 0;

   -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow:2px 2px 3px black,-2px -2px 3px lightblue;    /*   For Older Versions    */
    -webkit-box-shadow:2px 2px 3px black,-2px -2px 3px lightblue;
    box-shadow:2px 2px 3px black,-2px -2px 3px lightblue;

        /*                   For  'IE'                                */

       filter: {
            progid:DXImageTransform.Microsoft.Shadow(color=lightblue,direction=0,strength=5)   /*  Top     */
            progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=90,strength=3)    /*  Right   */
            progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=180,strength=3)   /*  Bottom  */
            progid:DXImageTransform.Microsoft.Shadow(color=lightblue,direction=270,strength=5);/*  Left    */
    }

}

.progressing {
    z-index: 85;
    position:absolute;
/*     overflow:auto; */

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* IE 5-7 */
    filter: alpha(opacity=70);

    /* Netscape */
    -moz-opacity: 0.7;

    /* Safari 1.x */
    -khtml-opacity: 0.7;

    /* Good browsers */
    opacity: 0.7;

    width:100%;
    height:100%;
/*     top: 0; */
/*     left: 0; */
    background-color: #FFFFFF;
    background-image: url('../img/progress.gif');
    background-size:30px;
    background-repeat: no-repeat;
    background-position: center center;
}


.InfoPopUp_div {
    background:#FFFFFF;
    overflow-y:auto;
    border-collapse:collapse;
    height:30%;
    position: absolute;
    left:35%;
    width:30%;
    opacity: 0.9;
    z-index: 300;

    border: 0px solid;
/*     background-color:#cfcfff; */
    border-color:#b6b6b6;
    margin: 0;

   -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow:2px 2px 3px black,-2px -2px 3px lightblue;    /*   For Older Versions    */
    -webkit-box-shadow:2px 2px 3px black,-2px -2px 3px lightblue;
    box-shadow:2px 2px 3px black,-2px -2px 3px lightblue;

        /*                   For  'IE'                                */

       filter: {
            progid:DXImageTransform.Microsoft.Shadow(color=lightblue,direction=0,strength=5)   /*  Top     */
            progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=90,strength=3)    /*  Right   */
            progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=180,strength=3)   /*  Bottom  */
            progid:DXImageTransform.Microsoft.Shadow(color=lightblue,direction=270,strength=5);/*  Left    */
    }

}

.Explorer_info{
    text-align:center;
    font-size:70%;
    color:#ffd180;
}

.Alert{
    background:#90caf9;
}

.ProgressBgColor{
    background: #1e88e5;
    color: white;
    text-align: center;    
}

.Alert_content{
    padding-right:5px;
    padding-left:5px;
    padding-top:5px;
    font-size:120%;
}
.Alert_button{
    padding-right:5px;
    padding-bottom:5px;
/*     float:right; */
}

div.overlay {
  background-color: #b6b6b6;
  width:      100%;
  height:     100%;
  z-index:    100;
  top:        0;
  left:       0;
  position:   fixed;
}
