/*
 *  ::718604!
 * 
 * Copyright(C) November 20, 2014 U.S. Food and Drug Administration
 * Authors: Dr. Vahan Simonyan (1), Dr. Raja Mazumder (2), et al
 * Affiliation: Food and Drug Administration (1), George Washington University (2)
 * 
 * All rights Reserved.
 * 
 * The MIT License (MIT)
 * 
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 */
.white {
    background-color: #fff;
}

.light_grey {
    background-color: #cccccc;
}

.mid_grey {
    background-color: #a0a0a0;
}

.dark_grey {
    background-color: #666666;
}

.light_blue_grey {
    background-color: #bdc1d1;
}

.light_blue {
    background-color: #4294cc;
}

.blue {
    background-color: #194EA1;
}

.dark_blue {
    background-color: #0b2668;
}

.dd_blue {
    background-color: #0e1131;
}

.yellow {
    background-color: #fccf12;
}

.green {
    background-color: #1c9963;
}

.red {
    background-color: #e8442d;
}



/* For a branding guide */


.circle {
    /*display: inline-block;*/
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    box-shadow: 0px 5px 20px #afafaf ;
    margin-bottom: 20px;
}

.pallete {
    display: inline-block;
    position: relative;
    align-self: center;
    padding: 1em;
    text-align: center;
    margin: 10px 0px;
}

a{
    font-size: inherit;
    color: inherit; }

.band{
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    color: #0e1131; }

.band a {
    letter-spacing: 2px;
    color:  #fff; 
    text-decoration-line: none;}

.band a:hover {
    color: #fccf12; 
    transition: color 0.5s;}

.panel {
    background-color: #fff;
    margin: auto;
    float: none;
}
img{
    display: block;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 90px;
}


